@import "../../index";

.for-juristic-accounting {
    .more {display: none}
    h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.54;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88;
    }

    p {
        font-size: 16px;
        line-height: 1.63;
        margin-top: 3%;
        color: #676767;
        &.list {
            color: $black;
            margin: 5% 0 0 5%;
        }
        strong {
            color: $black;
        }
        @include media-breakpoint-down(sm) {
            &.list {
                color: $black;
                margin: 0;
            }
        }
    }

    .box {
        padding: 5% 0;
    }

    .box-margin-bottom {
        padding: 0 0 5%;
    }

    span.read-more {
        display: block;
        color: $blue;
        cursor: pointer;

        &:hover {
            color: $blue;
        }

        &::after {
            position: relative;
            top: 12px;
            left: 0;
            float: right;
            content: " ";
            width: 75%;
            height: 1px;
            background-color: $gray-300;
        }
    }

    @include media-breakpoint-down(sm) {
        span.read-more {
            display: block;
            margin-bottom: 5%;

            &::after {
                background-color: transparent;
            }
        }
    }

    .function-niti {
        background-color: #f2f3f5;
        padding: 5% 0;

        .icon-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: left;
            margin-top: 5%;

            img {
                margin-right: 5%;
            }
        }

        @include media-breakpoint-down(sm) {
            .icon-description {
                align-items: flex-start;
            }
        }
    }
}

